backend-java-spring/src/main/resources/reservations.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://example.com/hotel/soap"
           targetNamespace="http://example.com/hotel/soap" elementFormDefault="qualified">

    <xs:element name="getReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:reservationInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="client" type="tns:clientInfo"/>
                <xs:element name="chambre" type="tns:chambreInfo"/>
                <xs:element name="dateDebut" type="xs:string"/>
                <xs:element name="dateFin" type="xs:string"/>
                <xs:element name="preferences" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:reservationInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="reservationInfo">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="client" type="tns:clientInfo"/>
            <xs:element name="chambre" type="tns:chambreInfo"/>
            <xs:element name="dateDebut" type="xs:string"/>
            <xs:element name="dateFin" type="xs:string"/>
            <xs:element name="preferences" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="clientInfo">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="telephone" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="chambreInfo">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="prix" type="xs:decimal"/>
            <xs:element name="disponible" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
